!
*foreground: #D2C8CB
*background: #685784 
! black 
*color0:  #111E39
*color8:  #10141e
! red
*color1:  #E35A80
*color9:  #FFADC4
! green
*color2:  #89A7A7
*color10: #C1D8D8
! yellow
*color3:  #E9CD2B
*color11: #FCEDB2
! blue
*color4:  #054682
*color12: #0270AD
! magenta
*color5: #5E5B80
*color13:  #908BA5
! cyan
*color6:  #a9d8ce
*color14: #cde8d7
! white
*color7:  #DCDBE7
*color15: #FCF5F5
