!
*foreground: #CDE8D7
*background: #20A8B8
! black 
*color0:  #232B3E
*color8:  #10141e
! red
*color1:  #D1336E
*color9:  #E17AA0
! green
*color2:  #397550
*color10: #58ae79
! yellow
*color3:  #f5e255
*color11: #fff6b3
! blue
*color4:  #7689cf
*color12: #b6bee2
! magenta
*color5:  #ef8ba3
*color13: #f8c6cd
! cyan
*color6:  #a9d8ce
*color14: #cde8d7
! white
*color7:  #f2ded3
*color15: #f5feff
