$black-bright:    TDC_BLACK_BRIGHT;
$red-bright:      TDC_RED_BRIGHT;
$green-bright:    TDC_GREEN_BRIGHT;
$yellow-bright:   TDC_YELLOW_BRIGHT;
$blue-bright:     TDC_BLUE_BRIGHT;
$magenta-bright:  TDC_MAGENTA_BRIGHT;
$cyan-bright:     TDC_CYAN_BRIGHT;
$white-bright:    TDC_WHITE_BRIGHT;

$black:           TDC_BLACK;
$red:             TDC_RED;
$green:           TDC_GREEN;
$yellow:          TDC_YELLOW;
$blue:            TDC_BLUE;
$magenta:         TDC_MAGENTA;
$cyan:            TDC_CYAN;
$white:           TDC_WHITE;

$foreground:	  TDC_FOREGROUND;
$background:	  TDC_BACKGROUND;
