@import "variables";

window {
    color:                  $background;
    background-color:       transparent;

    button {
        background-image:   linear-gradient(transparent, transparent);
        border:             none;
        box-shadow:         none;
	font-size:          1.3rem;
    }

    .w-button {
        background-image:   linear-gradient(transparent, transparent);
	color:              $foreground;
	border-radius:	    50%;
    }

    .menu-btn {
	border-radius:	    50%;
	color:              $foreground;
    }

    .menu-window {
	background:         $background;
	padding:            20px;
	border:		    none;
    }

    .menu-ops > button {
        font-size:          2.5rem;
        background-image:   linear-gradient(transparent, transparent);
	font-family:        "Material Icons";
    }

    button.logout-btn {
        color:              $green;
    }
    button.logout-btn:hover {
        background-image:   linear-gradient($green, $green);
	color: 		    $background;
    }

    button.reboot-btn {
        color:              $yellow;
    }
    button.reboot-btn:hover {
        background-image:   linear-gradient($yellow, $yellow);
	color: 		    $background;
    }

    button.shutdown-btn {
        color:              $red;
    }
    button.shutdown-btn:hover {
        background-image:   linear-gradient($red, $red);
	color: 		    $background;
    }
}
