@import "variables";

window {
        all: unset;
}

button {
        background-image: none;
        border: none;
        box-shadow: none;
        color: $background;
}

box.horizontal.bar {
        background-color: transparent;
}

box.workspaces {
        padding-left: 5px;
        padding-right: 5px;
}

box.time > button > label {
        color: $background;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: bolder;
}

box.volume, box.power-menu, box.time, box.workspaces, box.menu-container {
        background-color: $foreground;
        border-radius: 5px;
        border-color: $blue;
        border-style: solid;
        border-width: 1px;
}

button.menu-buttons:hover > label,
button.system:hover > label, 
button.workspace:hover > label,
button.workspace.active {
        font-size: 1.3rem;
        transition: font-size 100ms ease-in;
}

button.volume-icon > label {
        color: $background;
        font-size: 1.1rem;
}

button.system > label, button.action-center > label, button.menu-buttons > label {
        font-size: 1.1rem;
        font-family: "Material Icons";
}

button.reboot {
        color: $green-bright;
}

button.logout {
        color: $blue;
}

button.shutdown {
        color: $red;
}

.volume-scale trough {
        min-width: 100px;
        min-height: 10px;
        border-radius: 10px;
        border-color: $background;
        background-color: transparent;
}

.volume-scale trough highlight {
        border-radius: 10px;
        background-color: $background;
        border-color: $background;
}

calendar {
        background-image: none;
        background-color: $foreground;
        color: $background;
        padding: .2rem;
        border-radius: 8px;
        box-shadow: none;
        border-color: $blue;
}

calendar:selected {
        background-color: $yellow;
        color: $background;
}

calendar.header {
        color: $magenta;
        font-weight: bold;
        border-width: 0.5;
}

calendar.button {
        color: $red;
}

calendar.highlight {
        color: $blue;
        font-weight: bold;
}

calendar:indeterminate {
        color: $blue-bright;
}

box.dashboard-spacer {
        transition: all 600ms ease-in-out;
}

box.dashboard-box {
        background-color: $foreground;
        border-radius: 6px;
        padding: 1.5rem;
}

box.avatar-img {
        background-image: url("./assets/avatar.png");
        background-size: cover;
        min-width: 144px;
        min-height: 144px;
        border-radius: 50%;
        border: solid 2px $background;
}

box.username-label {
        color: $background;
        font-weight: bold;
        font-style: italic;
        font-size: 1.1rem;
        margin-top: 0.4rem;
        padding-bottom: 0.5rem;
        border-bottom: solid 1px $background;
}

.info {
        margin-top: 1rem;
}

.system {
        color: $background;
}

.ram, .disk {
        min-width: 36px;
}
.ram > progressbar, .disk > progressbar {
        margin-right: 14px;
}

.ram > progressbar trough, .disk > progressbar trough {
        min-width: 6px; 
        min-height: 10rem;
        color: $blue-bright;
        border-color: $background;
}

.ram > progressbar trough progress {
        border-color: $background;
        background-color: $green;
}

.disk > progressbar trough progress {
        border-color: $background;
        background-color: $yellow;
}

.ram-icon, .disk-icon {
        font-family: "Material Icons";
        font-size: 1.7rem;
}

.layout-manager {
        min-width: 72px;
        min-height: 10rem;
}

.layout-manager > button {
        font-family: "Material Icons"; 
        font-size: 2rem;
}

.layout-manager > button:nth-child(2) {
        font-size: 2.5rem;
}

.layout-manager > button:hover {
        font-size: 3rem;
}
