@import "variables";

window {
    color:                  $white;
    background-color:       transparent;

    button {
        background-image:   linear-gradient(transparent, transparent);
        border:             none;
        box-shadow:         none;
    }

    .workspaces > button {
        color:              $white;
    }
    .workspaces > button:hover {
        color:              $white-bright;
    }

    .menu-window {
	background:         $black-bright;
	border:             2px solid $blue-bright;
	padding:            20px;
    }

    .menu-ops > button {
        font-size:          2.5rem;
        background-image:   linear-gradient(transparent, transparent);
    }

    button.logout-btn {
        color:              $green;
    }
    button.logout-btn:hover {
        background-image:   linear-gradient($green-bright, $green-bright);
	color: 		    $black-bright;
    }

    button.reboot-btn {
        color:              $yellow;
    }
    button.reboot-btn:hover {
        background-image:   linear-gradient($yellow-bright, $yellow-bright);
	color: 		    $black-bright;
    }

    button.shutdown-btn {
        color:              $red;
    }
    button.shutdown-btn:hover {
        background-image:   linear-gradient($red-bright, $red-bright);
	color: 		    $black-bright;
    }
}
